//general text color
$text-color-white: #ffffff;
$button-color: #40c4ff;

//background color main
//subject card color
$subject-bg-color: #f2f8fc;
$subject-text-color: #303030;
//cta whit img color
$cta-text-color: #595959;
$cta-link-color: #40c4ff;
$cta-border: #ebebeb;
//what-in color
$whatin-active-color: #fcfcfc;
$whatin-active-border: #40c4ff; 

//footer color
$footer-h-color: #fbfbfc;
$footer-text-color: #cecece;
$footer-bg-color: #222222;
$lowerfooter-text: #959595;