
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/bootstrap-icons/font/bootstrap-icons.css';

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: 'Times New Roman', Times, serif;
  }
  p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}


.debug{
  background-color: rgba(100, 148, 237, 0.445);
  border: 1px solid black;
}