@use './partials/mixin' as *;
@use './partials/variables' as *;

@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import "/node_modules/@fontsource/noto-serif/index.css";


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: "Noto Serif", serif;
  }
  h2{
    color: $subject-text-color;
    font-size: 2.6rem;
    font-weight: bold;
  }
  p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}


.debug{
  background-color: rgba(100, 148, 237, 0.445);
  border: 1px solid black;
}

.my-a-button{
  display: inline-block;
  text-decoration: none;
  color: $text-color-white;
  background-color: $button-color;
}

//jumbotron slider

#swiperid1 .swiper-pagination-bullet{
  height: 20px;
  width: 20px;
  background-color: #ffffffcc;
}

#swiperid1 .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border: 2px solid $text-color-white;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}

#swiperid1 .swiper-pagination-bullet.swiper-pagination-bullet-active::after{
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: $text-color-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//teacher slider

#swiperid2 .swiper-pagination-bullet{
  height: 12px;
  width: 12px;
  background: #ffffffee;
}

#swiperid2 .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #ffffff;
}

#swiperid2 .swiper-pagination{
  padding-bottom: 7rem;
}

//popular courses slider

#swiperId3 .swiper-button-next,
#swiperId3 .swiper-button-prev{
  display: none;
}

#swiperId3 .swiper-pagination{
  bottom: -5px;
}

#swiperId3 .swiper-pagination-bullet{
  height: 12px;
  width: 12px;
  background: #40c4ff;
}

#swiperId3 .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #40c4ff;
}